/* ------------------- CSS GERAL DA PÁGINA -------------------- */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}


/*----------------- CSS PARA A NAV BAR-------------------------*/

.navBarPgIncio {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navBarBotoes {
  display: flex;
  justify-content: space-evenly;
}

.dropdown-toggle::after {
  display: none;
}

.collapse.navbar-collapse {
  justify-content: end;
  margin: 0 70px 0 0;
}

/*----------------- FIM CSS PARA A NAV BAR-------------------------*/