/* ------------------- CSS GERAL DA PÁGINA -------------------- */

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #ffffff;
  font-family: 'quicksand_bold', Sans-serif;

}

/* ------------------- FIM CSS GERAL DA PÁGINA -------------------- */


/*----------------- CSS PARA A NAV BAR-------------------------*/

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-toggle::after {
  display: none;
}

.collapse.navbar-collapse {
  justify-content: flex-end;
  margin-right: 15px;
}

.header-pg-princ li {
  margin-left: 10px;
}

.header-pg-princ a {
  color: #000;
}

.navbar-custom {
  background-color: #f77a01;
  height: 150px;
  border: 5px;
}

.navbar-down {
  justify-content: center;
  background-color: #C46200;
}

.navbar-down-ul {
  flex-direction: row;
}

.nav-item-down {
  margin: 0px 10px 0px 5px;
}

.nav-item-down>a {
  color: #ffffff;
}

.nav-item-down:hover {
  background-color: #d3812f;
}

.nav-item-down>a:focus {
  box-shadow: none;
}

/*-------Botões NavBar----------*/

.comic-button {
  padding: 2px 10px;
  font-size: 1.0rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #f9bf76;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  align-items: center;
}

ul {
  list-style-type: none;
}

.comic-button:hover {
  background-color: #fff;
  color: #f9bf76;
  border: 2px solid #f9bf76;
  box-shadow: 5px 5px 0px #f9bf76;
}

.comic-button:active {
  background-color: #f9bf76;
  box-shadow: none;
  transform: translateY(4px);
}

.comic-button>a:focus {
  box-shadow: none;
}

/*------- FIM Botões NavBar----------*/


/*----------------- FIM CSS PARA A NAV BAR-------------------------*/



/*----------------- INICIO CSS PARA OS FORMS-------------------------*/

.colorful-form {
  max-width: 400px;
  margin: 50px auto 50px;
  padding: 35px;
  background-color: #d3d3d3;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.form-label-radio {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.form-label-check {
  font-weight: bold;
  color: #333;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
}

.form-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff6f69;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}

.form-button:hover {
  background-color: #ff5f59;
}

.error {
  color: white;
  background: red;
  display: none;
  border-radius: 5px;
  text-align: center;
}

.button-dois {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff6f69;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}

.img-forms {
  position: relative;
}

.img-form-1 {
  position: absolute;
  top: 35%;
  width: 500px;
}

.img-form-2 {
  position: absolute;
  top: 5%;
  width: 500px;
}

.inputwrapper {
  display: flex;
}

.eyebt {
  outline: none;
  background: none;
  border: 0;
}

/*----------------- FINAL CSS PARA OS FORMS -------------------------*/



/*------------------------ INICIO CSS PARA OS CARDS ------------------------------*/

/*------------- INICIO CSS PARA OS CARDS DE TIPO PRODUTOS --------------------*/
.imgsTipoCardProduct {
  width: 310px;
  height: 310px;
  border-radius: 15px;
}

.textCardsTipoProd {
  margin: 25px 0 0 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.containerTipoProdutos {
  display: flex;
  justify-content: space-between;
}

.cardTipoProdtudos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 355px;
  height: 450px;
  border: 2px solid #000;
  border-radius: 15px;
  box-shadow: 5px 5px 0px #000;
  background-color: #eec38f;
}

.cardTipoProdtudos:hover {
  outline: 1px solid #000;
  box-shadow: 0 2px 6px rgba(117, 117, 117, .7);
  position: relative;
  top: 1px;
}


/*------------- FIM CSS PARA OS CARDS DE TIPO PRODUTOS --------------------*/


/*------------- INICIO CSS PARA OS CARDS DOS PRODUTOS --------------------*/

.imgsCardProduct {
  width: 260px;
  height: 210px;
  border-radius: 15px;
}

.containerProds {
  display: flex;
  justify-content: space-evenly;
}

.cardProds {
  display: flex;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
  width: 300px;
  height: 480px;
  border: 2px solid #000;
  border-radius: 15px;
  box-shadow: 5px 5px 0px #000;
  background-color: #eec38f;
}

.productsInsideCart {
  margin-top: 25px;
}

.textProduct {
  font-size: 1.15rem;
  margin: 10px 17px 5px 17px;
}

.textProduct>p {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  text-align: center;
  margin: 5px 0 0 0;
}

.textProduct>p>a {
  color: #000;
  text-decoration: none;
}

.textProduct>p>span {
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.textProduct>p:first-child {
  font-weight: 700;
  font-size: 1.5rem;
}

.textProduct>p>a {
  background-color: #ffffff;
  margin: 10px 45px 1px 45px;
  border-radius: 5px;
  height: 45px;
  border: solid #000 1px;
}

.count {
  all: unset;
  width: 25px;
  font-size: 20px;
  font-weight: 600;
  color: #202020;
}

.btn-count {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: 'Open Sans';
  font-weight: 900;
  color: #202020;
  cursor: pointer;
}

.texto-card {
  display: flex;
  justify-content: center;
  text-align: center;
}


/*------------- FIM CSS PARA OS CARDS DOS PRODUTOS --------------------*/


/*----------------------- FIM CSS PARA OS CARDS -------------------------------*/





/*------------- INICIO CSS PARA A PÁGINA DE ADMIN --------------------*/


/*-------Botões NavBar ADM----------*/

.comic-button-adm {
  padding: 10px 10px;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #f9bf76;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  align-items: center;
  margin-bottom: 35px;
  margin-right: 40px;
}

ul {
  list-style-type: none;
}

.comic-button-adm:hover {
  background-color: #fff;
  color: #f9bf76;
  border: 2px solid #f9bf76;
  box-shadow: 5px 5px 0px #f9bf76;
}

.comic-button-adm:active {
  background-color: #f9bf76;
  box-shadow: none;
  transform: translateY(4px);
}

.comic-button-adm>a:focus {
  box-shadow: none;
}

.offcanvas {
  background-color: #dbc2a4;
}

/*------- FIM Botões NavBar ADM----------*/


.btn-administrator {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
  margin-top: 200px;
}

.btn-administrator>a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 290px;
  height: 155px;
  border: 2px solid #000;
  border-radius: 15px;
  box-shadow: 5px 5px 0px #000;
  background-color: #eec38f;
  font-size: 1.8rem;
  margin: 0 60px 0 0;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.text-adm-home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 40%;
}

/*------------- FIM CSS PARA A PÁGINA DE ADMIN --------------------*/


/*------------- INICIO CSS PARA AS ROWS DA PÁGINA INICIAL --------------------*/

.row-cakes {
  background-color: #f8e5cc;
  height: 1200px;
  margin-top: 50px;
}

.row-snacks {
  background-color: #e7b832;
  height: 1200px;
}

.row-sweets {
  background-color: #f8e5cc;
  height: 1200px;
}

.slick-next {
  right: 0;
}


/*------------- FIM CSS PARA A PÁGINA DE ADMIN --------------------*/